@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
@import 'vars';

html, body{
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size:10px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:black;
  font-weight:400;
  width: 100%;
  height:100%;
  background:#efefef;
  margin:0;
  padding:0;
}

body{
  overflow:hidden;
  width: 100%;
  height:100%;
}

*{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  letter-spacing: 0.02em;
  font-size:17px;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 920px), screen and (max-height: 540px){
    font-size: 1.35rem;
  }
}

a, a:active, a:visited{
  text-decoration:none;
  outline:none;
  font-weight: 700;
  color: $highlight-color;

  transition: color 0.4s;
}

b{
  font-weight: 500;
}
p{
  font-size: 1.7rem;
}

input, select{
  border-radius: 4px;
  border: 1px solid $color-inactive;
  height: 40px;
  padding: 5px 10px;
  color: $color1;
  font-size: 1.35rem;

  @media screen and (max-width: 920px), screen and (max-height: 540px){
    height: 30px;
    font-size: 1.15rem;
    padding: 4px 7px;
  }

  &::placeholder{
    color: $color-inactive;
  }

  &[type="radio"]{
    width: auto;
    display: inline-block;
  }
}

div, li{
  /*-ms-touch-action: none;
  touch-action: none;*/
  user-select: none;
}

*:focus{
  outline:none;
}

#root{
  height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0;
}

#main{
  background: $white;
  margin: auto;
  //height: 100%;
  height: 100%;
  width: 100%;
  /*padding-bottom: 56.25%;*/
  /*height: 720px;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  top: 0;
  left: 0;

  @media (min-aspect-ratio: 18/9) {
    padding-bottom: 46.18%;
  }
  /*@media (min-aspect-ratio: 4/3) {
    padding-bottom: 75%;
  }*/

  /*transform: translate(0, -50%);*/

  @media (max-width: 480px){
    overflow: auto;
    flex-direction: column;
    align-content: flex-start;
  }
}

#cSvg{
  margin-top: -10rem;
}

h1{
  font-size: 11rem;
  font-weight: 100;

  @media screen and (max-width: 920px), screen and (max-height: 540px){
    font-size: 6rem;
  }
}
h2{
  font-size: 3.2rem;
  line-height: 1.35em;
  font-weight: 100;

  @media screen and (max-width: 970px){
    font-size: 2.8rem;
  }
  @media screen and (max-width: 920px), screen and (max-height: 540px){
    font-size: 2rem;
  }
}

section{
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  background: $white;
  margin-left: 100%;
  //z-index: 99;
  transition: margin-left .6s;

  @media (max-width: 480px){
    display: block;
  }

  &.current{
    margin-left:0;
    //z-index: 100;
  }
  &.before{
    margin-left:-200%;
  }
  &.after{
    margin-left:200%;
  }

  header{
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
    min-height: 70px;
    width: 100%;
    z-index:1000;

    @media screen and (max-width: 920px), screen and (max-height: 540px){
      min-height: 35px;
    }

    .logo-small{
      height: 25px;
      margin: 30px 0 15px 50px;

      @media screen and (max-width: 920px), screen and (max-height: 540px){
        height: 15px;
        margin: 12px 0 8px 30px;
      }
    }
  }

  .content{
    height: calc(100% - 70px);
  }

  #btn-settings, #btn-close-sett{
    width: 20px;
    height: 20px;
    background: transparent url('../images/gear.svg') no-repeat center;
    border: none;
    position: absolute;
    opacity: 0.6;
    right: 20px;
    top: 20px;
    z-index:10001;
    padding:0;
    cursor: pointer;
  }

  #btn-close-sett{
    background: transparent url('../images/close.svg') no-repeat center;
    top: 5px;
    right: 5px;
  }

  #settings{
    width: 250px;
    height: 140px;
    background: rgba(255,255,255,0.8);
    border-radius: 4px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index:100;
    display: none;
    padding: 20px;

    &.active{
      display: block;
    }

    .block{
      margin: 1rem 0 2rem 0;
      text-align: left;
      font-size: 1.4rem;
    }
    label{
      float: left;
      margin-right: 10px;

      &.tall{
        height: 35px;
        line-height: 35px;
      }
    }
    ul{
      width: 80px;
      float: left;
      display: flex;
      flex-direction: row;

      li{
        width: 34px;
        height: 18px;
        margin-left: 26px;
        cursor: pointer;
        opacity:0.4;

        &:hover{
          opacity:0.7;
        }
        &.active{
          opacity:1;
        }

        img{
          width: 34px;
          height: 18px;
          pointer-events: none;
        }
      }
    }
  }

  &#sc-0{
    text-align: center;

    *{
      z-index:3;
    }

    .bg{
      background: transparent url("../images/opening_bg1.jpg") no-repeat top center;
      background-size: 100% auto;
      background-position: top center;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index:0;

      @media (orientation: portrait) {
        background-size: auto 120%;
      }
    }
    .color-opacity{
      //background-image: linear-gradient(-45deg, $gradient-c2, $gradient-c1);
      background-color: $color2;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index:1;
      opacity: 0.65;

      &:before{
        content: " ";
        border: 2px solid #fff;
        margin: 75px;
        width: calc(100% - 150px);
        height: calc(100% - 150px);
        position: absolute;
        left: 0;

      }
    }

    h1{
      color: $white;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 920px), screen and (max-height: 540px){
        font-size: 6rem;
      }
    }

    #btnStart{
      margin-top:80px;
      width: 260px;

      @media screen and (max-width: 920px), screen and (max-height: 540px){
        margin-top:30px;
        width: 140px;
      }
    }

    .logo-big{
      width: 260px;
      margin-bottom: 20px;

      @media screen and (max-width: 920px), screen and (max-height: 540px){
        width: 140px;
      }
    }
  }

  &#sc-1{
    .content{
      display: flex;
      width: 100%;
      max-width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align:center;
      overflow: hidden;

      h2{
        margin: 45px 50px 35px 50px;
        @media screen and (max-width: 970px){
          margin: 35px 50px 25px 50px;
        }
        @media screen and (max-width: 920px), screen and (max-height: 540px){
          margin: 1.6rem 3rem 1.6rem 3rem;
        }
      }

      .product-list{
        margin: 3rem auto;
        padding: 20px 50px 20px 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        /*overflow-x: -moz-scrollbars-none;
        -ms-overflow-style: none;*/
        width: 100%;
        max-width: 100%;
        min-height: 54%;

        @media screen and (max-width: 920px), screen and (max-height: 540px){
          padding: 20px 30px 10px 0;
          margin: 0.5rem auto;
        }

        &::-webkit-scrollbar { width: 5px !important }

        li{
          /*flex-grow: 1;*/
          flex: 0 0 auto;
          width: calc((100vh - (35px * 3))/2.3);
          height: calc((100vh - (35px * 3))/2.3);
          max-height: calc(100%);
          background: $white;
          box-shadow: 0 6px 10px rgba(0,0,0,0.12);
          overflow: hidden;
          margin: 0 0 0 35px;
          line-height: 100%;
          text-align: center;
          border: 1px solid $white;
          cursor: pointer;

          /*-ms-touch-action: none;
          touch-action: none;*/
          user-select: none;

          @media (max-height: 540px){
          width: calc((100vh - (25px * 3))/2.3);
          height: calc((100vh - (25px * 3))/2.3);
            margin: 0 0 0 25px;
          }
          @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
            margin: 0 0 0 25px;
          }

          &:hover{
            border: 1px solid $color2;
          }

          &:before {
            content: "";
            display: inline-block;
            width: 1px;
            padding-top: calc(100%);
            pointer-events: none;
          }

          img{
            height: 80%;
            margin: 10px auto;
            line-height: 100%;
            position: absolute;
            left: 50%;
            top: 47%;
            pointer-events: none;

            transform: translate(-50%,calc(-50% - 20px));
            display: inline-block;
          }

          .label{
            width: 100%;
            background: $color2;
            font-weight: 400;
            font-size: 1.4rem;
            height: 45px;
            position: absolute;
            bottom:0;
            z-index:10;
            font-size: 1.4rem;
            line-height: 45px;
            text-transform: uppercase;
            pointer-events: none;

            @media screen and (max-width: 920px), screen and (max-height: 540px){
              height: 25px;
              line-height: 28px;
              font-size: 1.1rem;
            }
          }
        }
      }

      button{
        margin: 10px auto 25px auto;
        width: 260px;

        @media screen and (max-width: 480px){
          width: 260px;
          margin: 0px auto 0px auto;
        }
      }
    }

  }

  &#sc-2{
    .content{
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      justify-content: stretch;
      align-items: center;
      text-align:left;
      overflow: hidden;
      z-index:0;

      /*@media (max-width: 480px){
        flex-direction: column;
        justify-content:flex-start;
      }*/

      @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
        flex-direction: column;
        justify-content:flex-start;
        height: 100%;
        max-height: 100%;
      }

      #prod-area{
        width: 50%;
        /*max-width: 512px;*/
        height: 100%;
        min-height: 100%;
        background: #fff;
        overflow: visible;
        display: flex;
        align-items: center;
        z-index:0;

        /*@media (max-width: 480px){
          width: 100%;
          max-width: 100%;
        }*/
        @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
          width: 100%;
          max-width: 100%;
          height: 35%;
          min-height: 35%;
          max-height: 35%;
        }

        #btns{
          position: absolute;
          top: 10px;
          right: 10px;
          left: auto;

          &.inactive{
            filter: grayscale(100%);
            display: none;
          }

          button{
            width: 30px;
            height: 30px;
            border: 1px solid #eeeeee;
            display: block;
            margin: 8px;
            color: $color2;
            font-weight: 700;
            font-size: 1.35rem;
            padding: 5px;
            background: $white;

            &:hover:not(.inactive){
              opacity:0.9;
              border: 1px solid $color2;
            }

            &.btn-top{
              margin: 10px 10px 0px 10px;
              border-radius: 5px 5px 0 0;
            }

            &.btn-bottom{
              margin: -1px 10px 10px 10px;
              border-radius: 0 0 5px 5px;
            }
            img{
              width: 60%;
            }
          }
        }

        .img-holder{
          margin: 0 auto;
          width: 100%;
          /*max-width: 512px;*/
          height:0;
          padding-bottom:100%;
          /*height: 100%;
          min-height: 100%;*/
          overflow: hidden;

          @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
            width: 60%;
            padding-bottom:60%;
            overflow: visible;
          }

          &:before {
            content: "";
            display: block;
            width: 100%;
            padding-top:100%;
            pointer-events: none;
          }

          img{
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index:0;
            transform: translate(-50%, -50%);

            @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
              height:100%;
              width: auto;
            }
          }

          #drawable{
            width:40%;
            height:25%;
            border:2px dashed #777;
            position: absolute;
            overflow: visible;
            top:55%;
            left:30%;
            z-index:0;
            overflow: visible;

            /*&:before {
              content:"";
              border:2px dashed #fff;
              opacity: 0.3;
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              margin: 0;
              z-index:-1;
            }*/
          }
        }

      }

      #step-holder{
        z-index:10;
        width: 50%;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction:column;
        align-content: space-between;
        background: $white;
        box-shadow: -3px 0 6px rgba(0,0,0,0.05);

        @media (min-width: 1024px){
          width: calc(100% - 512px);
        }
        @media (max-width: 520px){
          width: 100%;
        }
        @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
          width: 100%;
          height: 65%;
        }

        ul.step-nav{
          min-height: 50px;
          background: $white;
          box-shadow: 2px 1px 4px rgba(0,0,0,0.05);
          border-bottom: 1px solid #efefef;
          list-style:none;
          display: flex;
          flex-direction: row;
          justify-content: stretch;
          align-items: center;

          @media screen and (max-width: 920px), screen and (max-height: 540px){
            min-height: 30px;
          }

          li{
            flex-grow: 1;
            width: 25%;
            height: 50px;
            line-height: 54px;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            overflow: visible;
            color: $color-inactive;

            @media screen and (max-width: 920px), screen and (max-height: 540px){
              font-size: 1.0rem;
              height: 30px;
              line-height: 34px;
            }

            &.revealed{
              color: $color2;
            }

            &:after, &:before{
              content: "";
              display: block;
              position: absolute;
              width: 25px;
              height: 0;
              right: -62px;
              top:0;
              border-width: 25px;
              border-style: solid;
              border-color: transparent transparent transparent $light-bg;
              z-index: 0;

              @media screen and (max-width: 920px), screen and (max-height: 540px){
                width: 15px;
                right: -31px;
                border-width: 15px;
              }
            }
            &:after{
              z-index: 1;
              right: -60px;
              border-color: transparent transparent transparent $white;

              @media screen and (max-width: 920px), screen and (max-height: 540px){
                right: -30px;
              }
            }

            &:last-of-type{
              &:after, &:before{
                display: none;
              }
            }
          }
        }
      }

      h2{
        margin-top: 4rem;
        margin-bottom: 4rem;

        @media screen and (max-width: 970px){
          margin-top: 3rem;
          margin-bottom: 3rem;
        }
        @media screen and (max-width: 920px), screen and (max-height: 540px){
          margin-top: 1.6rem;
          margin-bottom: 1.6rem;
        }

        @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
          margin-top: 8%;
          margin-bottom: 8%;
          text-align: center;
        }
      }

      .step-column{
        width: calc(100% - 160px);
        max-width: 512px;
        margin-left: auto;
        margin-right: auto;

        &#msg2-holder, &#msg3-holder{
          width:100%;
          max-width: 860px;
        }

        &.tabContent{
          display: flex;
          padding-bottom: 2rem;
          align-content: space-between;
          justify-content: space-between;
          display: none;

          @media screen and (max-width: 920px), screen and (max-height: 540px){
            padding-bottom: 1rem;
          }

          &.active{
            display: flex;
            flex-direction: column;
          }

          .button-holder{
            height: 30%;
            button{
              width: calc(50% - 10px);

              &:first-of-type{
                margin-right: 20px;
              }
            }
          }
        }

        .title{
          display: none;

          &.active{
            display: block;
          }
        }

        @media screen and (max-width: 920px), screen and (max-height: 540px){
          width: calc(100% - 50px);
        }
      }

      ul.msg-options{
        width: 100%;
        min-height: 50px;
        background: $white;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
        display: flex;
        flex-direction: row;
        align-items: center;
        display: none;

        &.active{
          display: flex;
        }

        @media screen and (max-width: 920px), screen and (max-height: 540px){
          min-height: 30px;
        }

        li{
          display: block;
          width: 50%;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 400;
          text-transform: uppercase;
          color: $color-inactive;
          border-bottom: 3px solid $white;
          cursor: pointer;

          @media screen and (max-width: 920px), screen and (max-height: 540px){
            font-size: 1.0rem;
            height: 30px;
            line-height: 30px;
          }

          &:hover{
            color: $color1;
          }
          &.active{
            color: $color1;
            border-bottom: 3px solid $color2;
          }
        }
      }

      #msg-holder, #msg2-holder, #msg3-holder{
        margin: 3rem auto 0 auto;
        height: 100%;

        @media screen and (max-width: 920px), screen and (max-height: 540px){
          margin: 1.6rem auto 0 auto;
        }

        label{
          display: flex;
          flex-direction: column;
          margin: 1rem 0;

          @media screen and (max-width: 920px), screen and (max-height: 540px){
            font-size: 1rem;
            margin: 0.5rem auto;
          }

          span{
            width: 100%;
            font-size: 1.2rem;
            margin: 1rem 0;

            @media screen and (max-width: 920px), screen and (max-height: 540px){
              font-size: 1rem;
              margin: 0.5rem 0;
            }
          }
          #font-selector{
            padding: 2px 12px;
            font-size: 1.35rem;
            font-weight: 400;
            border-radius: 4px;
            border: 1px solid $color1;
            background: $white;
            width: 180px;
            cursor: pointer;
            width: calc(50% - 10px);
            min-width: 100px;
            height: 40px;
            position: relative;

            @media screen and (max-width: 920px), screen and (max-height: 540px){
              height: 30px;
              font-size: 1.15rem;
              padding: 2px 7px;
            }

            .selected{
              position: relative;
              line-height: 35px;
              width: 100%;

              @media screen and (max-width: 920px), screen and (max-height: 540px){
                line-height: 26px;
              }

              &:before, &:after{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                display: block;
                right: 4px;
                border-width: 5px;
                border-style: solid;
              }

              &:before{
                border-color: $color2 transparent transparent transparent;
                top: 15px;
                z-index: 0;
              }
              &:after{
                top: 13px;
                border-color: $white transparent transparent transparent;
                z-index: 1;
              }

            }

            ul{
              display: none;
              box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
              padding: 10px;
              margin: 3px 0 0 -13px;
              width: calc(100% + 26px);
              background: #fff;
              border-radius: 4px;
              z-index:100;

              &.active{
                display: block;
              }

              li{
                text-transform: none;
                padding: 10px 5px;
                cursor: pointer;

                &:hover{
                  background: rgba(0,0,0,0.02);
                }

                &.active{
                  color: $color2;
                }
              }
            }
          }
        }
      }

      #msg3-holder{
        margin: 0 auto;
      }

      #stamp-holder{
        width: 100%;
        height: 130px;
        display: flex;
        align-items: flex-start;
        min-width: 100%;

        @media (max-height: 480px),  screen and (max-height: 680px){
          height: 80px;
        }

        ul{
          min-width: 100%;
          display: flex;
          flex-direction:row;
          align-items: flex-start;
          overflow-x: auto;
          overflow-x: -moz-scrollbars-none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar { width: 5px !important }

          li{
            /*flex-grow: 1;*/
            min-width: calc((100% - 50px)/2.25);
            width: calc((100% - 50px)/2.25);
            min-height: 180px;
            height: 190px;
            background: $white;
            overflow: hidden;
            margin: 0 0 0 10px;
            line-height: 100%;
            text-align: center;
            /*border: 1px solid #f3f3f3;*/
            padding: 0 15px;
            cursor: pointer;
            display: flex;
            align-items: center;

            /*-ms-touch-action: none;
            touch-action: none;*/
            user-select: none;

            @media (max-height: 480px),  screen and (max-height: 680px){
              min-height: 110px;
              height: 110px;
            }

            &:hover, &.active{
              border: 1px solid $color2;
            }

            object{
              display: block;
              width: 100%;
              height: 100%;
              pointer-events: none;
            }
          }
        }
      }

      #icon-holder{
        width: calc(100% - 150px);
        max-width: 512px;

        height: auto;
        display: flex;
        align-items: flex-start;
        margin: 0 auto 5.5rem auto;

        @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
          width: calc(100% - 40px);
        }

        @media screen and (max-height: 540px){
          width: calc(100% - 50px);
        }

        ul{
          width: 100%;
          min-width: 100%;
          display: flex;
          flex-direction:row;
          align-items: flex-start;
          /*justify-content: space-evenly;*/
          flex-wrap: wrap;
          overflow-x: auto;
          overflow-x: -moz-scrollbars-none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar { width: 5px !important }

          li{
            width: 40px;
            height: 40px;

            background: $white;
            border: 1px solid #f0f0f0;
            margin: 3px;
            cursor: pointer;
            position: relative;

            /*-ms-touch-action: none;
            touch-action: none;*/
            user-select: none;

            @media screen and (max-height: 540px),  screen and (max-height: 680px){
              width: 28px;
              height: 28px;
            }

            @media (min-height: 920px){
              width: 55px;
              height: 55px;
            }


            @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
              /*width: calc((80vh - (5*10))/6);
              height: calc((80vh - (5*10))/6);*/

              /*width: calc((100vh - 3*5)/5);
              height: calc((100vh - 3*5)/5);
              margin: 3px;*/
            }

            &:hover, &.active{
              border: 1px solid $color2;
            }

            object{
              flex: 0 0 auto;
              position: relative;
              height: 80%;
              max-width: 20px;
              pointer-events: none;
              top:50%; left: 50%;
              transform: translate(-50%, -50%);

              @media (max-aspect-ratio: 4/3) and (orientation: portrait)  {
                /*max-height: 20px;
                max-width: 20px;*/
              }

            }
          }
        }
      }
    }
  }
}

button{
  padding: 16px 5px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid $color1;
  background: $white;
  width: 180px;
  cursor: pointer;
  box-shadow: 0px rgba(0,0,0,0);


  @media screen and (max-width: 920px), screen and (max-height: 540px){
    padding: 8px 12px;
    font-size: 1.1rem;
  }

  &:focus,&:focus:active{
    outline: 0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  }

  &.highlight{
    background: $color2;
    border: 1px solid $color2;
  }


  &.borderless{
    padding: 3px;
    border:0;
    color: #ccc;
    text-decoration: underline;
    width: 100%;
    max-width:100%;
    min-width:100%;
    margin-top:15px;
    box-shadow: 0px rgba(0,0,0,0);

    &:focus,&:focus:active{
      outline: 0;
      box-shadow: 0px rgba(0,0,0,0);
    }
  }

  span{
    pointer-events: none;
  }
}

svg#vector-area{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  /*-ms-touch-action: none;
  touch-action: none;*/
  user-select: none;

  g *{
    fill:none;
    stroke:#FFF;
    stroke-width:12;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:12;

    &#areaSq{
      /*width: calc(100% - 0px);
      height: calc(100% - 0.5px);*/
      fill: none;
      stroke:#fff;
      stroke-width:1;
      stroke-miterlimit:1;
    }
  }

  g{
    *{
      fill:none;
      stroke:#FFF;
      stroke-width:6;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:6;
    }

    &.large *{
      stroke-width:3;
      stroke-miterlimit:3;
    }
    &.medium *{
      stroke-width:4;
      stroke-miterlimit:4;
    }
    &.small *{
      stroke-width:6;
      stroke-miterlimit:6;
    }
  }

  &.silver *{
    stroke:#aaa;
  }

  g{
    &#vector-list{
      visibility: hidden;
    }
    &#vector-text, &#vector-image{
      #text-bounds, #image-bounds{
        visibility: visible;
        opacity: 0.1;
        transition: opacity .3s;
        z-index:1000;

        &:hover{
          opacity:1;
        }

        rect{
          fill:rgba(255,255,255,0);
          stroke:#4a90e2;
          stroke-width:5;

          &.transparent{
            fill:rgba(255,255,255,0.01);
            stroke:none;
          }
        }

        .resize-handle, circle{
          fill:#4a90e2;
          stroke: none;
        }
        text{
          fill:rgba(255,255,255,1);
          font-size: 3rem;
          font-weight: 700;
          text-anchor: middle;
          stroke: none;
          user-select: none;
        }
      }
    }
    &#image-remove, &#text-remove{
      text{
        pointer-events: none;
        font-size: 30px;
        stroke:none;
        fill: #fff;
        color: #fff;
      }
      .resize-handle, circle{
        fill:#4a90e2;
        stroke: none;
      }
      rect{
        fill:rgba(255,255,255,0);
        stroke:#4a90e2;
        stroke-width:5;

        &.transparent{
          fill:rgba(255,255,255,0.01);
          stroke:none;
        }
      }
    }
  }
}

#convert{
  position: absolute;
  top:0;
  left:0;
  z-index:100000;

  svg g *{
    fill:none;
    stroke:#000;
    stroke-width:10;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }
}
